body {
    /* background-color: skyblue; */
    background-image: url("../images/r-65aa3fcfc0b4e707023537.jpg");
    background-image: extending;
}

.navbar, .navbar-expand-lg, .bg-body-tertiary{
    /* background-color: rgb(93, 0, 255); */
}

.card {
background-color: rgb(167, 222, 37);
}

.navbarperso{
    position:sticky;
    background-color: aquamarine;
}

.pagination{
/* background-color: skyblue; */
position: sticky;
display: flex;
flex-direction: row;
}