{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}
<div >
   Oups
   <img src="https://www.shutterstock.com/image-vector/grunge-access-denied-rubber-stamp-260nw-148359608.jpg" alt="" width="300">
</div>
{% endblock %}
